
      <mat-sidenav-container class="container">
            <mat-sidenav></mat-sidenav>
            <mat-sidenav-content>
                   <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="[ '/trend' ]" routerLinkActive="active">Trendingvideos</a>
                  </li>
                  <li class="nav-item">
                              <a class="nav-link" [routerLink]="[ '/' ]">FavoriteList</a>
                  </li>
                  </ul>
            </mat-sidenav-content>
            
                    <mat-sidenav></mat-sidenav>
                </mat-sidenav-container>
          

      